.invoice {
  width: 80%;
  margin: 20px auto; /* Center horizontally and add margin */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #FFF7FB;
}

.invoice-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px; /* Add margin for spacing */
}

.company-info, .invoice-info {
  margin-bottom: 20px;
}

.invoice-info p {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

.item-column {
  width: 30%; /* Increased width for item column */
}

.price-column {
  width: 11%; /* Decreased width for price column */
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px; /* Rounded corners for inputs */
}

button {
  background-color: #ECBFDA;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px; /* Margin around buttons */
}

button:hover {
  background-color: #d4a5b0; /* Slightly different hover color */
}

.add-item-button {
  background-color: #ECBFDA;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container {
  text-align: right;
  margin-bottom: 20px;
}

.totals {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
}

.totals div {
  margin-bottom: 10px;
}

  